@font-face {
    font-family: 'AvenirBook';
    src: url('../src/assets/css/fonts/fonts/AvenirLTStd-Book.otf')  format("opentype");
}

@font-face {
    font-family: 'AvenirBookMedium';
    src: url('../src/assets/css/fonts/fonts/AvenirLTStd-Medium.otf')  format("opentype");
}
