$brand-white: #fff;
$brand-primary: #FF8225;
$brand-lt-gray: #E3E3E3;
$brand-dk-gray: #5A5A5A;
$brand-gray: #C2C2C2;
$brand-lt-blue: #EDF0F5;
$brand-red: #DD2B00;

/* Border-radius */
$borderRadius-base: 5px;
$borderRadius-rounded: 25px;

/* Fonts */
$fontSize-small: 12px;
$fontSize-base: 14px;
$fontSize-h1: 36px;
$fontSize-h2: 30px;
$fontSize-h3: 24px;
$fontSize-h4: 20px;
$fontSize-h5: 18px;
$fontSize-h6: 14px;
$fontSize-super-large: 60px;
$lineHeight-base: 1.7;